* {
    font-family: sans-serif;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}
header{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    width: 100%;
    background-color: rgb(68, 68, 196);
}
.wrapper_input > *{
    font-size: 20px;
    margin-bottom: 20px;
}
.button_x{
    width: 2.2em;
    height: 2.2em;
    border-radius: 50%;
    border: 2px dashed orange;
    /* padding: 10px; */
    background: white;
    transition: background-color 1000ms linear;
}
.button_x:hover{
    background-color: orange;
}

.button_x:focus{
    background-color: orange;
}

.button_x_click{
    background: orange;
}
.container{
    display: flex;
    flex: 1;
    min-height: 70vh;
    justify-content: center;
    align-items: flex-start;
    padding-top: 2em;
}
.container > *{
    width: 33%;
    margin-bottom: 8vw;
}
table{
    border: 1px solid black;
    table-layout: fixed;
    border-collapse: collapse;
}
th{
    border: 1px solid black;
    text-align: center;
}
td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}
.missed{
    background-color: rgba(243, 46, 46, 0.719);
}
.got{
    background-color: rgba(28, 165, 28, 0.753);
}
.buttons_wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;  
}
footer{
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 10vh;
    width: 100%;
    background-color: rgb(68, 68, 196);
    bottom: 0;
    color:beige;
    left: 0;
}

button[type="submit"]{
    font-size: 25px;
    padding: 10px 0;
    position: relative;
    padding: 5px;
    border: 0;
    background-color: white;
}

button[type="submit"]::after{
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: -5px;
    border: 2px dashed rgb(231, 156, 16);
    transform: skewX(0);
    transition: 2s;
}
button[type="submit"]:hover:after{
    transition: 1s;
    transform: skewX(-18deg);
}